@import "../index.scss";

.aside {
  min-width: 310px;
  padding: 36px 28px;
  @include md {
    min-width: 220px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    &-title {
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0.01em;
      font-weight: 600;
    }
    &-version {
      font-size: 10px;
      line-height: 15px;
      letter-spacing: -0.01em;
      color: $text-color-gray;
      margin-left: 5px;
    }
  }
  &__menu {
    &-mobile {
      display: none;
      @include sm {
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        padding: 160px 20px;
        bottom: 0;
        left: -100%;
        top: 0;
        font-size: 16px;
        width: min(55vw, 200px);
        height: 100vh;
        gap: 50px;
        z-index: 10;
        background-color: $hover-color;
        transition: left 1s;
        margin: 0;
        box-shadow: -10px 0px 30px -15px black;
        color: $text-color-white;
        &-active {
          left: 0;
        }
        &-item {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        li {
          cursor: pointer;
          position: relative;

          &:hover {
            color: $text-color-dark-gray;
          }
        }
      }
    }
    &-item {
      display: flex;
      justify-content: space-between;
      padding: 13px 19px 13px 13px;
      align-items: center;
      gap: 12px;
      margin-bottom: 17px;
      &:hover {
        background: $hover-color;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.25s;
        .aside__menu-text {
          color: $text-color-white;
        }
        svg path {
          stroke: $text-color-white;
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    &-text {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1px;
      color: $text-color-light-gray;
      @include md {
        font-size: 12px;
      }
    }
  }
  &__user {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 600px;
    &-name {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.01em;
      color: $text-color-main;
      @include sm {
        color: $text-color-white;
      }
    }
    &-role {
      font-size: 12px;
      line-height: 18px;
      color: $text-color-dark-gray;
      @include sm {
        color: $text-color-white;
      }
    }
  }
}
