$text-color-main: #000000;
$text-color-white: #ffffff;
$text-color-gray: #838383;
$text-color-light-gray: #9197b3;
$text-color-dark-gray: #757575;
$text-color-hover: #ffffff;
$text-color-active: #16c098;
$text-color-button-active: #008767;
$text-color-button-inactive: #df0404;
$hover-color: #5932ea;
