$text-color-main: #000000;
$text-color-white: #ffffff;
$text-color-gray: #838383;
$text-color-light-gray: #9197b3;
$text-color-dark-gray: #757575;
$text-color-active: #16c098;
$text-color-table-header: #b5b7c0;
$text-color-table-main: #292d32;
$profile-background: #fafbff;
$hover-color: #5932ea;
$status-active-background: rgba(22, 192, 152, 0.38);
$status-active-text: #008767;
$status-inactive-background: #ffc5c5;
$status-inactive-text: #df0404;
